body {
  font-family: Arial, sans-serif;
  background-color: #f2f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  width: 400px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

h1 {
  color: #1f2937;
}

#description {
  color: #4b5563;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

input {
  flex: 1;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 15px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1d4ed8;
}

#clearBtn{
  background-color: crimson;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

#clearBtn:hover{
  background-color: darkred;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

li {
  background-color: #f3f4f6;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topic-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topic-left input {
  flex: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  cursor: pointer;
}

.completed span{
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #b91c1c;
}

#message {
  margin-top: 20px;
  font-weight: bold;
  color: #16a34a;
}
